*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #151515;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*menú de navegación*/

.navbar-brand img{
    width: 60px;
    height: auto;
}

.buick-bg{
    background-color: #000000;
}

.navbar-nav li a{
    color: rgba(181, 178, 178, 0.849);
}

.navbar-nav li a:hover{
    color: rgba(177, 21, 21, 0.736);
}

.navbar-nav{
    align-items: center;
}

/* index - general */

h1, h2, h3, h4, h5, h6{
    font-size: 18px;
    color: rgba(177, 21, 21, 0.736);
    font-weight: bold;
}

p{
    color: rgb(227, 221, 213);
}

.add-margin{
    margin: 50px;
}

.video{
    width: 100%;
    height: 100vh;
}

.portada{
    width: 100%;
}

/* integrantes */

.title-integrantes{
    text-align: center;
    margin: 50px 0 50px 0;
}

.grid-integrantes{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5px;
}

.integrantes{
    width: 50%;
    border-radius: 5px;
}

.title-cada{
    font-size: 16px;
    margin-top: 5px;
}

.grid-integrantes p{
    font-size: 14px;
    margin-bottom: 40px;
}

/* canciones */

.decoration-none a{
    text-decoration: none;
    color: rgb(181, 178, 178);
}

.decoration-none a:hover{
    color: rgb(255, 255, 255);
}

.cd-grid{
    height: 90vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 70px;
    margin-top: 50px;
}

/* fotos de shows */

.fotos-title-style{
    margin: 30px;
    text-align: center;
}

.pics-grid img{
    width: 100vh;
    height: 70vh;
}

.pics-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
    justify-items: center;
}

/* contacto */



footer{
    text-align: center;
    font-size: 11px;
    font-style: italic;
    color: rgb(227, 221, 213);
    margin: 30px 0 5px 0;
}


/* Media Queries */

/*index mobile*/

@media (max-width: 768px) {
    .portada{
        margin-top: 0;
        padding: 0;
    }
}

/*index tablets*/

@media (min-width: 600px) {
    .portada{
        margin-top: 0;
        padding: 0;
    }
    .index-title{
        text-align: center;
        font-size: 25px;
    }
}

/*index desktop*/

@media (min-width: 1024px) {
    .add-center{
        text-align: center;
    }
}

/*integrantes mobile*/

@media (max-width: 768px) {
    .grid-integrantes{
        grid-template-columns: 1fr;
    }
    .title-integrantes{
    font-size: 16px;
    }
    .integrantes{
        width: 100%;
    }
    .title-cada{
        font-size: 14px;
        margin-top: 5px;
    }
    .grid-integrantes p{
        font-size: 12px;
        margin-bottom: 40px;
    }
}

/*integrantes tablets*/

@media (min-width: 600px) {
    .integrantes{
        width: 100%;
    }
    .title-integrantes{
        font-size: 18px;
    }
    .title-cada{
        font-size: 16px;
    }
    .grid-integrantes p{
        font-size: 14px;
    }
}

/*canciones mobile*/

@media (max-width: 768px) {
    .cd-grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 50px;
        margin-top: 35px;
    }
    .cd-grid div h1, h2, h3, h4, h5, h6{
        font-size: 16px;
    }
    .cd-grid p{
        font-size: 14px;
    }
}

/*canciones tablets*/

@media (min-width: 600px) {
    .cd-grid{
        grid-template-columns: repeat(2, 1fr);
        row-gap: 0;
        height: 85vh;
    }
    .cd-grid div h1, h2, h3, h4, h5, h6{
        font-size: 20px;
    }
    .cd-grid p{
        font-size: 17px;
    }
}

/*canciones desktop*/

@media (min-width: 1024px) {
    .cd-grid{
        grid-template-columns: repeat(3, 1fr);
    }
}

/*fotos mobile*/

@media (max-width: 768px) {
    .fotos-title-style{
        font-size: 18px;
    }
    .pics-grid img{
        width: 100%;
        height: auto;
    }
    .pics-grid{
        grid-template-columns: 1fr;
        row-gap: 5px;
    }
}

/*fotos tablets*/

@media (min-width: 600px) {
    .fotos-title-style{
        font-size: 22px;
    }
    .pics-grid img{
        width: 90%;
        height: auto;
    }
    .pics-grid{
        grid-template-columns: 1fr;
    }
}

/*fotos desktop*/

@media (min-width: 1024px) {
    .pics-grid img{
        width: 100%;
        height: 60vh;
    }
    .pics-grid{
        grid-template-columns: repeat(2, 1fr);
        column-gap: 5px;
    }
}