*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #151515;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*menú de navegación*/

.navbar-brand img{
    width: 100px;
    height: auto;
}

.buick-bg{
    background-color: #141313;
}

.navbar-nav li a{
    color: rgb(181, 178, 178);
}

.navbar-nav{
    align-items: center;
}

/* index */

h1, h2, h3, h4, h5, h6{
    font-size: 20px;
    color: rgba(177, 21, 21, 0.736);
    font-weight: bold;
}

p{
    color: rgb(227, 221, 213);
}

.add-margin{
    margin: 50px;
}

.video{
    width: 100%;
    height: 100vh;
}

/* integrantes */

.integrantes{
    width: 100vh;
    border-radius: 10px;
    margin-bottom: 15px;
}

.title-integrantes{
    text-align: center;
    margin: 50px 0 50px 0;
}

.grid-integrantes{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    row-gap: 40px;
}


/* canciones */

.decoration-none a{
    text-decoration: none;
    color: rgb(181, 178, 178);
}

.cd-container, .cd-container-two{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-top: 50px;
}

.cd-first{
    justify-items: center;
    width: 30%;
    line-height: 30px;
}

.cd-second{
    justify-items: center;
    width: 30%;
    line-height: 30px;
    padding-top: 30px;
}

/* fotos de shows */

.fotos-title-style{
    margin: 30px;
    text-align: center;
}

.pics-grid img{
    width: 100vh;
    height: 70vh;
    border-radius: 5px;
}

.pics-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
    justify-items: center;
}

/* contacto */



footer{
    text-align: center;
    font-size: 11px;
    font-style: italic;
    color: rgb(227, 221, 213);
    margin: 30px 0 10px 0;
}


/* Media Queries */

/*index mobile*/

@media (max-width: 768px) {
    .portada{
        margin-top: 30px;
    }
}

/*index tablets*/

@media (min-width: 600px) {
    .portada{
        margin-top: 30px;
    }
    .index-title{
        font-size: 25px;
    }
}

/*integrantes mobile*/

@media screen {
    body{
        font-size: 16px;
    }
    .grid-integrantes{
        grid-template-columns: 1fr;
        justify-content: center;
        row-gap: 30px;
    }
    .integrantes{
        width: 100%;
        height: auto;
    }
    .title-cada{
        font-size: 18px;
    }
}

/*integrantes tablets*/

@media (min-width: 600px) {
    body{
        font-size: 20px;
    }
    .title-integrantes{
        font-size: 25px;
    }
    .title-cada{
        font-size: 22px;
    }
}

/*integrantes desktop*/

@media (min-width: 1366px) {
    body{
        font-size: 15px;
    }
    .title-integrantes{
        font-size: 20px;
    }
    .title-cada{
        font-size: 18px;
    }
    .integrantes{
        width: 100vh;
    }
    .grid-integrantes{
        grid-template-columns: repeat(2, 1fr);
    }
}